*{font-family: Albertus Medium;
}

body{background-image: url("muur.jpg");
}

#titlebalk{
height: 100px;
width: 100%;
background-color: white;
position: center;
margin-top: 0px;
}

#foto{
position: center;
margin-top: 50px;
margin-left: 450px;
height: 450px;}

p{
font-size: 20px;
}

h1{font-size: 20px;}

#inventory{
padding-top: 0px;
margin-bottom: 0px;
bottom:0px;
width:99%;
background-color: white;
position: fixed;
}

#sleutel{
	    position: absolute;
    left: 1210px;
    top: 535px;

    z-index: 134;
}

#kaars{
	    position: absolute;
    left: 770px;
    top: 645px;

    z-index: 342;
}

#mega{
	    position: absolute;
    left: 850px;
    top: 400px;

    z-index: 152342343;
}

#mag{
	    position: absolute;
    left: 1095px;
    top: 675px;

    z-index: 164;
}

#pen{
	    position: absolute;
    left: 1095px;
    top: 675px;

    z-index: 198;
}

#papier{
	    position: absolute;
    left: 1095px;
    top: 675px;

    z-index: 145;
}

#taart{
	    position: absolute;
    left: 1240px;
    top: 595px;

    z-index: 154;
}

#ham{
	    position: absolute;
    left: 910px;
    top: 680px;

    z-index: 13;
}

#vuur{
	position: absolute;
    left: 715px;
    top: 550px;

    z-index: 15;}

#ham1{
	position: absolute;
    left: 675px;
    top: 665px;

    z-index: 2665;}

    #taart1{
	position: absolute;
    left: 815px;
    top: 550px;

    z-index: 24;}

    .knop{
    	height: 50px;

    	background-color: darkblue ;
    	color: white;
    	z-index: 4567654;
    }

#lichtknop{
		position: absolute;
    left: 815px;
    top: 550px;

    z-index: 23456789098765434567894;}

}

    #raam1{
	position: absolute;
    left: 985px;
    top: 505px;
	width: 45px;
	height: 140px; 
    z-index: 26;}

        #raam2{
	position: absolute;
    left: 800px;
    top: 195px;
	height: 200px; 
    z-index: 2674575;}